body {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #9c8059;
}



/* HEADER*/
header {
  font-size: 1.5rem;
  font-family: "Lansbury", serif;
}

#navLinks {
  list-style-type: none;
}
#navLinks a::before {
  content: 'Page ';
}



/*MAIN*/
main {
  font-size: 1.2rem;
  /*font-family: '', sans-serif;*/
}

#hero {

}

#catchline {

}

.details {
  border: 4px grey;
}

#detailOne {

}

#detailTwo {

}

#detailThree {

}



/*FOOTER*/
footer {
  font-size: 1rem;
  /*font-family: '', sans-serif;*/
}

#footLinks {

}

#site {

}

#copyright {

}