:root {
  --mainBg: #ecd0c0;
  --secondaryBg: #9c8059;
  --secondaryAcc: #ece2c0;
  --heroBg: #642b2f;
  --detailsBg: #3d1215;

  --link: #fff7a0;
  --linkv: #fff7a0;
  --linkhf: #fff7a0;

  --nlink: red;
  --nlinkv: maroon;
  --nlinkhf: green;

  --title: 2.8rem;
  --xlarge: 1.75rem;
  --large: 1.8rem;
  --medium: 1.2rem;
  --small: 1rem;
  --xsmall: .75rem;

  --mainTxt: #e2e2e2;

  --imp: 'Lansbury', serif;
  --ser: 'Italiana', serif;
  --sans: 'Sarala', 'Arial Narrow', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: var(--sans);
  background: var(--mainBg);
  color: var(--mainTxt);
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--link);
  text-wrap: pretty;
}
a:visited {
  color: var(--linkv);
}
a:hover,
a:focus {
  color: var(--linkhf);
  border-bottom: 2px solid var(--linkhf);
}

blockquote {
  font-style: italic;
}

img:not(#logo) {
  border: 1px solid black;
}



/* HEADER*/
header {
  font-size: var(--xlarge);
  font-family: var(--sans);
  background: var(--secondaryBg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo {
  height: 60px;
  padding: 10px;
  margin: 10px;
  background: #ffffff78;
  border-radius: 50%;
  float: left;
}

header span {
  margin: auto;
  font-size: var(--title);
  font-family: var(--imp);
}

header nav {
  padding: 0px 10px;
  width: 60%;
}

header span {
  color: #e9c536;
}

#navLinks {
  background: var(--secondaryAcc);
  font-size: var(--medium);
  list-style-type: none;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  font-family: var(--ser);
  font-weight: 600;
}

#navLinks li {
  margin-bottom: 5px;
  color: var(--nlink);
}
#navLinks a:visited {
  color: var(--nlinkv);
}
#navLinks a:hover,
#navLinks a:focus {
  color: var(--nlinkhf);
  border-bottom: 4px solid var(--nlinkhf);
}


/*MAIN*/
main {
  font-size: var(--medium);
  margin: 20px;
}

main img {
  height: 30vh;
}

#hero {
  padding: 1rem;
  width: fit-content;
  background: var(--heroBg);
  border: 4px solid goldenrod;
  display: grid;
  grid-template-areas: "catch catch conta conta conta";
  margin-bottom: 20px;
  font-size: var(--medium);
}

#hero span {
  font-family: var(--ser);
}

#hCatch {
  grid-area: catch;
}

#hCatch h3 {
  color: #fff6de;
  background: rgba(128, 128, 128, 0.75);
  padding: 4px 8px;
  font-family: var(--ser);
  font-weight: 900;
  width: fit-content;
  margin: 1px 0px 10px 0px;
}

#hConta {
  grid-area: conta;
  margin: auto 4px auto 80px;
}

#hConta #subh {
  font-size: var(--large);
  margin: 0 0 4px 0;
  font-family: var(--ser);
  font-weight: 600;
}

#hConta blockquote {
  font-style: normal;
}
#hConta blockquote::before,
#hConta blockquote::after {
  content: '"';
  font-size: var(--large);
  font-weight: 900;
}

#hConta figcaption {
  font-style: italic;
}

.detail {
  border: 4px solid rgb(193, 142, 12);
  background: var(--detailsBg);
  float: right;
  padding: .6rem;
  display: flex;
  justify-content: space-between;
}
.detail:not(:last-of-type) {
  margin-bottom: 10px;
}
.detail:last-of-type {
  margin-bottom: 20px;
}

.detail .dTxtContainer {
  max-width: 70%;
  /* margin keeps text centered vertically
  DO NOT CHANGE OR REMOVE */
  margin: auto;
  padding: 10px;
  text-wrap: pretty;
}

.detail .dTxtContainer p {
  margin: auto;
}

.detail img {
  float: right;
}

#detailOne {
  width: 90%;
}

#detailTwo {
  width: 80%;
}

#detailThree {
  width: 70%;
}



/*FOOTER*/
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--small);
  position: relative;
  bottom: 0;
  padding: 10px;
  background: var(--secondaryBg);
}

#footLinks, #name, #lmc {
  padding: 5px;
}

#footLinks a {
  display: inline-block;
  line-height: 20px;
  margin-bottom: 10px;
}
#footLinks a:hover,
#footLinks a:focus {
  border-bottom: none;
}
#footLinks a span:hover,
#footLinks a span:focus {
  border-bottom: 2px solid var(--linkhf);
}

#footLinks a img {
  display: inline;
  height: 20px;
  margin: auto 10px auto 0;
  border: none;
  filter: grayscale(1);
  vertical-align: middle;
}
#footLinks a img:hover,
#footLinks a img:focus {
  transition: .4s ease;
  filter: grayscale(0);
}

#lmc p {
  float: right;
}

#lmc p:last-of-type {
  font-size: var(--xsmall);
  font-style: italic;
}

#name {
  font-size: var(--xsmall);
}

@media only screen and (max-width: 525px) {
  #navLinks {
    display: block;
  }
  #navLinks a:before {
    content: '-\00a0';
  }
  #navLinks a:hover:before,
  #navLinks a:hover:after {
    content: '|';
  }
  #logo {
    margin-top: 10px;
  }
  #hero img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 575px) {
  #logo, nav, header p {
    margin: auto;
  }
  header {
    flex-direction: column;
    justify-content: space-around;
  }
  header p {
    order: -1;
    margin-top: 10px;
  }
  #logo {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 819px) {
  #navLinks li {
    border-right: none!important;
  }
}

@media only screen and (max-width: 900px) {
  #navLinks li:not(:last-of-type) {
    padding-right: 5px;
    border-right: 2px solid black;
  }
}